<mat-card class="title-block">
  <div class="row">
    <div class="col-md-12 title-main" style="text-align: center;">
      <p i18n>BÁO CÁO NHÓM 2 QUẢN LÝ FABCAR</p>
    </div>
  </div>
</mat-card> 


<!-- button crud -->
<mat-card class="button-system-custom title-header-crud" style="text-align: center;">
  <div class="row">
    <div class="col-md-12" >
      <button type="button" class="btn btn-success mr-3 btn-add w-120" (click)="onBtnInsertDataClick()" i18n><i
          class="fa fa-plus"></i> Thêm mới </button> 
 
    </div>
  </div>
</mat-card>
<!-- end button crud-->

<div class="mat-elevation-z8 wp-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 grid-data-custom">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="check-custom">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="Key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Mã xe </th>
      <td mat-cell *matCellDef="let row"> {{row.Key}} </td>
    </ng-container>

    <!-- colour Column -->
    <ng-container matColumnDef="colour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Màu sắc </th>
      <td mat-cell *matCellDef="let row"> {{row.Record.colour}} </td>
    </ng-container>
 

    <!-- make Column -->
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Hãng xe </th>
      <td mat-cell *matCellDef="let row"> {{row.Record.make}} </td>
    </ng-container>
 

    <!-- model Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Mẫu xe </th>
      <td mat-cell *matCellDef="let row"> {{row.Record.model}} </td>
    </ng-container>


    <!-- owner Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Chủ sở hữu </th>
      <td mat-cell *matCellDef="let row"> {{row.Record.owner}} </td>
    </ng-container>
 
 

    <!-- update -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef i18n>Đổi chủ sở hũu</th>
      <td mat-cell *matCellDef="let row">
        <i style="cursor: pointer;" (click)="onBtnUpdateDataClick(row)"
          class="icon-note icon-update" title="Sửa"></i>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<!-- pagination -->
<mat-paginator [pageIndex]="pageIndex" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>


<!-- Accuracy delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color:red" i18n>XÁC THỰC XÓA HỒ SƠ</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" i18n>
        Bạn có thực sự muốn xóa những hồ sơ này? Quá trình này không thể được hoàn tác.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Hủy</button>
        <button type="button" class="btn btn-danger" (click)="onBtnDelClick()" data-dismiss="modal" i18n>Đồng ý</button>
      </div>
    </div>
  </div>
</div>