<div class="title-dialog text-center system-custom" role="alert">
  <h5 class="text-uppercase font-weight-bolder" i18n>THÔNG TIN FABCAR</h5>
</div>
<mat-card class="border border-dialog">
  <mat-card-content class="custom-overflow">
    <form [formGroup]="form" class="col-md-12">
      <div class="row">
 
        <!-- Key field -->
        <div class="col-md-6" *ngIf="type!==1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Key <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.Key" formControlName="Key" disabled>
            <button mat-button *ngIf="input.Key" matSuffix mat-icon-button
             aria-label="Clear" (click)="input.Key=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['Key'].invalid
              && (form.controls['Key'].dirty || form.controls['Key'].touched)">
            <div *ngIf="form.controls['Key'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>
 
 
        <!-- colour field -->
        <div class="col-md-6" *ngIf="type!==1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Màu sắc <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.colour" formControlName="colour" >
            <button mat-button *ngIf="input.colour" matSuffix mat-icon-button
             aria-label="Clear" (click)="input.colour=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['colour'].invalid
              && (form.controls['colour'].dirty || form.controls['colour'].touched)">
            <div *ngIf="form.controls['colour'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>
 
 
        <!-- make field -->
        <div class="col-md-6" *ngIf="type!==1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Hãng xe <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.make" formControlName="make">
            <button mat-button *ngIf="input.make" matSuffix mat-icon-button
             aria-label="Clear" (click)="input.make=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['make'].invalid
              && (form.controls['make'].dirty || form.controls['make'].touched)">
            <div *ngIf="form.controls['make'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>
 
 
        <!-- model field -->
        <div class="col-md-6" *ngIf="type!==1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Mẫu xe <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.model" formControlName="model">
            <button mat-button *ngIf="input.model" matSuffix mat-icon-button
             aria-label="Clear" (click)="input.model=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['model'].invalid
              && (form.controls['model'].dirty || form.controls['model'].touched)">
            <div *ngIf="form.controls['model'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>
 
 
        <!-- owner field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Chủ sở hữu <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.owner" formControlName="owner">
            <button mat-button *ngIf="input.owner" matSuffix mat-icon-button
             aria-label="Clear" (click)="input.owner=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['owner'].invalid
              && (form.controls['owner'].dirty || form.controls['owner'].touched)">
            <div *ngIf="form.controls['owner'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>
  



      </div>
    </form>
  </mat-card-content>

</mat-card>

  <!--Modal -->
  <div class="text-center" style="margin-top: 10px;">
    <button *ngIf="type!==1" type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Đồng ý</button>
    <button *ngIf="type==1" type="button" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Cập nhật</button>
    <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data" i18n> <i
        class="fa fa-times"></i> Đóng</button>
  </div>
