<div class="bg-img">
  <div class="row">
    <div class="content col-md-12">
      <header i18n>Đăng Nhập</header>

      <!--start form login-->
      <form action="#">
        <!--input username-->
        <div class="field">
          <span class="fa fa-user"></span>
          <input maxlength="50" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.username" type="text"
            class="form-control" placeholder="Email" i18n-placeholder>
        </div>

        <!--input password-->
        <div class="field space">
          <span class="fa fa-lock"></span>
          <input maxlength="50" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.password" type="password"
            class="form-control" placeholder="Mật khẩu" i18n-placeholder>
        </div>

        <div class="pass">
          <a i18n>QUÊN MẬT KHẨU?</a>
        </div>

        <!--submit login-->
        <div class="field">
          <button (click)="onBtnLoginClick()" type="submit" class="btn float-right login_btn btn-login" i18n>Đăng
            nhập</button>
        </div>
      </form>
      <!--end form login-->

    </div>
  </div>
</div>